doctype html
html
  head
    //- import interactjs and bootstrap
    link(rel='stylesheet', href='/stylesheets/bootstrap/css/bootstrap.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="/javascripts/interact.min.js")

    //- import game script and css
    link(rel="stylesheet", href="/stylesheets/stage-4/drag.css")
    link(rel="stylesheet", href="/stylesheets/dropzone.css")
    link(rel="stylesheet", href="/stylesheets/modal.css")
    script(src="/javascripts/stage-4/record.js")
    script(src="/javascripts/drag.js")
    script(src="/javascripts/stage-4/dropzone.js")
    script(src="/javascripts/time.js")
    script(src="/javascripts/stage-4/instruction.js")

  body
    include stage-navbar.pug

    article
      div(id="box-1", class="box-draggable")
        p=text

      div(id="box-2", class="box-draggable")
        p=text
        
      div(id="ilm-start", class="ilm-start-text")

      div(id="box-dropzone", class="dropzone")
        div(class="dropzone-text")
          p(id="dropzone-title") Dropzone
          p(id="dropzone-instruction")
            b ¬BLUE

      div(id="ilm-modal-box", class="ilm-modal")
        div(class="modal-dialog")
          div(class="modal-content")
            div(class="modal-header")
              div(class="modal-title")
                h4 Level Complete
            div(class="modal-body")
              div(class="ilm-modal-content")
                h3 Congratulations on completing the task!
            div(class="modal-footer")
              button(type="button", class="btn btn-primary")
                a(id="ilm-button-text-color", href="/stage-5") Next Task

      div(id="ilm-modal-box-instruction", class="ilm-modal")
        div(class="modal-dialog")
          div(class="modal-content")
            div(class="modal-header")
              div(class="modal-title")
                h4 Instructions
            div(class="modal-body")
              div(class="ilm-modal-content")
                h4 The <b>NOT</b> (¬) operator means that you need to satisfy other conditions other than the stated one.
                br
                p In this case, you should put any box as long as it's not a <b>blue</b> box inside the <b>Dropzone</b>.
            div(class="modal-footer")
              button(id="close-modal-box-insruction", type="button", class="btn btn-primary") Close Instruction

      include stage-lose-popup.pug
