nav(class="navbar navbar-default")
  div(class="container-fluid")
    div(class="navbar-header")
      div(id="ilm-time-box")
        a(class="navbar-brand", href="#") Time: &nbsp;
            b(id="ilm-time-box-value") 0
    button(id="ilm-instruction-button", class="btn btn-primary navbar-btn navbar-right") Show Instruction
