doctype html
html
  head
    title="OR Module"
    link(rel='stylesheet', href='/stylesheets/bootstrap/css/bootstrap.css')
  body
    include module-navbar.pug

    article
      div(class="container", style="float: left; width: 15%;")
        br
        br
        h4 Module Navigation
        div(class="list-group")
          a(href="/module/introduction-module", class="list-group-item") Introduction
          a(href="/module/proposition-module", class="list-group-item") Propositional Logic
          a(href="/module/not-module", class="list-group-item") Negation Operator
          a(href="/module/and-module", class="list-group-item") Conjunction Operator
          a(href="#", class="list-group-item active") Disjunction Operator

      div(class="container", style="float: right")
        br
        h2 OR (∨) Disjunction Operator
        br

        h3 Definitions
        blockquote
          p Let p and q be propositions. The disjunction of p and q, denoted by p ∨ q, is the proposition “p ∨ q.” The disjunction p ∨ q is false when both p and q are false and is true otherwise.
        br

        h3 Example
        h4 Question:
        p What is the disjunction of the propositions p ∨ q where …
        br
        blockquote
          p p : “Rebecca’s PC has more than 16 GB free hard disk space”
          p q : “The processor in Rebecca’s PC runs faster than 1 GHz.”
        br
        h4 Answer:
        p The disjunction of p and q, p ∨ q, is the proposition
        br
        blockquote
          p Rebecca’s PC has at least 16 GB free hard disk space, or the processor in Rebecca’s PC runs faster than 1 GHz.
        br
        p This proposition is true when Rebecca’s PC has at least 16 GB free hard disk space, when the PC’s processor runs faster than 1 GHz, and when both conditions are true. It is false when both of these conditions are false, that is, when Rebecca’s PC has less than 16 GB free hard disk space and the processor in her PC runs at 1 GHz or slower.
        br

        h3 Truth Table
        p Here is the truth table for proposition operator (∨).
        br
        div(class="container")
          table(class="table table-striped", style="width:25%")
            thead
              tr
                th P
                th Q
                th (P ∨ Q)
            tbody
              tr
                td T
                td T
                td T
              tr
                td T
                td F
                td T
              tr
                td F
                td T
                td T
              tr
                td F
                td F
                td F

        button(class="btn btn-primary navbar-btn")
          a(href="/generate_new_game", style="color: white;") Next>>
