header
  div(class="container")
    div(class="jumbotron")
      h1 Dropzone
      p <b>Dropzone</b> is a game developed to serve as <i>Interactive Learning Module</i> (ILM) that record your <i>Self-regulated Learning</i> competencies.
      p It's gameplay are inspired by simplicity of Boolean Logic concepts.
      button(type="button", class="btn btn-primary")
        a(style="color: white", href="/generate_new_game") Play >>
