div(id="ilm-modal-box-lose", class="ilm-modal")
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-header")
        div(class="modal-title")
          h4 Level Failed
      div(class="modal-body")
        div(class="ilm-modal-content")
          h3 Time is up!
      div(class="modal-footer")
        button(type="button", class="btn btn-primary")
          a(id="ilm-button-text-color", href="/") Back to Main Menu
